{% load static %}
<div class="single-product">
    <div class="row align-items-center">
        <div class="col-lg-4 col-md-4 col-12">
            <div class="product-image">
                <img src="{% if product.img %}{{ product.img.url }}{% else %}
{% static 'app/images/no_product.png' %}{% endif %}"
                     alt="#" height="200px">
                <div class="button">
                    <a class="btn bg-burgundy" data-bs-toggle="modal" data-bs-target="#addToCartModal"
                       onclick="addToCart(this)" data-name="{{ product.name }}" data-id="{{ product.id }}" data-price="{{ product.price }}"><i
                            class="lni lni-cart"></i> Добавить в корзину</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-12">
            <div class="product-info">
                <span class="category">{{ product.subcategory.name }}</span>
                <h4 class="title">
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                </h4>
                <div class="price">
                    <span class="text-burgundy">{{ product.price }} Р.</span>
                </div>
            </div>
        </div>
    </div>
</div>
