{% extends 'base.html' %}
{% load static %}
{% block title %}
    Корзина
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content d-flex align-items-center">
                        <h1 class="page-title">Корзина</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="{% url 'app:home' %}"><i class="lni lni-home"></i> Главная</a></li>
                        <li>Корзина</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="shopping-cart section">
        <div class="container">
            <div class="cart-list-head">
                <!-- Cart List Title -->
                <div class="cart-list-title">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-12">

                        </div>
                        <div class="col-lg-4 col-md-3 col-12">
                            <p>Наименование</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>Кол-во</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>Цена</p>
                        </div>
                        <div class="col-lg-2 col-md-2 col-12">
                            <p>Дата создания</p>
                        </div>
                        <div class="col-lg-1 col-md-2 col-12">
                            <p>Удалить</p>
                        </div>
                    </div>
                </div>
                <!-- End Cart List Title -->
                <!-- Cart Single List list -->
                {% for cart_item in cart_items %}
                    <div class="cart-single-list">
                        <div class="row align-items-center">
                            <div class="col-lg-1 col-md-1 col-12">
                                <a href="#">
                                    <img src="{% if cart_item.product.img %}
{{ cart_item.product.img.url }}{% else %}{% static 'app/images/no_product.png' %}{% endif %}"
                                         alt="#">
                                </a>
                            </div>
                            <div class="col-lg-4 col-md-3 col-12">
                                <h5 class="product-name">
                                    <a href="#">{{ cart_item.product.name }}</a>
                                </h5>
                                <p class="product-des">
                                    <span><em>Тип: </em> {{ cart_item.product.subcategory.name }}</span>
                                </p>
                                <p class="product-des">
                                    <span class="d-flex align-items-center">
                                        {% if cart_item.via == 'telegram' %}
                                            <i class="lni lni-telegram lni-32 text-primary"
                                               style="margin-left: -40px; margin-top: -100px"
                                               title="Через telegram"></i>
                                        {% else %}
                                            <i class="lni lni-website lni-32 text-warning"
                                               style="margin-left: -40px; margin-top: -100px" title="Через сайт"></i>
                                        {% endif %}</span>
                                </p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <div class="count-input">
                                    <input type="number" class="form-control" style="width: 70px; height: 33px"
                                           value="{{ cart_item.quantity }}">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <p>{{ cart_item.get_sum }} рублей</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-12">
                                <p>
                                    {{ cart_item.created_at }}<br>
                                    <span style="font-size: 10px">Изменен: {{ cart_item.updated_at }}</span>
                                </p>
                            </div>
                            <div class="col-lg-1 col-md-2 col-12">
                                <a class="remove-item" href="{% url 'app:delete_cart_item' cart_item.product.id %}"><i
                                        class="lni lni-close"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- End Single List list -->
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Total Amount -->
                    <div class="total-amount">
                        <div class="row">
                            <div class="col-lg-8 col-md-6 col-12">
                            </div>
                            <div class="col-lg-4 col-md-6 col-12">
                                <div class="right">
                                    <ul>
                                        <li>Всего: <span>{{ cart.get_total_price }}</span> рублей</li>
                                    </ul>
                                    <div class="button">
                                        <a href="#" class="btn bg-burgundy">Оформить</a>
                                        <a href="{% url 'app:home' %}" class="btn btn-alt hover-bg-burgundy">Продолжить
                                            покупки</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--/ End Total Amount -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}